<form class="form-signin" method="post">
    <h2>Sign In</h2>
    <br/>
    
    <input placeholder="Email" type="text" name="email" require="" autofocus="">
    <br/>
    <input placeholder="Password" type="password" name="password" require="">
    <br/>
    <button type="submit">Sign In</button>
</form>