<form class="form-signin" method="post">
    <h2>New Account</h2>
    <br/>

    <input placeholder="Name" type="text" name="name" require="" autofocus="">
    <br/>
    <input placeholder="Email" type="text" name="email" require="" autofocus="">
    <br/>
    <input placeholder="Password" type="password" name="password" require="">
    <br/>
    <input placeholder="Confirm Password" type="password" name="confirmPassword" require="">
    <br/>
    <button type="submit">Sign Up</button>
</form>